<div class="component">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        <h1>{{ 'RATES.HEADER' | translate }}</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <mat-list class="rate-list">
        <div class="rate-list-item rate-list-item-header">
          <div class="rate-list-item-column">
            <span>{{ 'RATES.RATE_TEXT' | translate }}</span>
          </div>
          <div class="rate-list-item-column">
            <span>{{ 'RATES.REGION_TEXT' | translate }}</span>
          </div>
          <div class="rate-list-item-column">
            <span>{{ 'RATES.CATEGORY_TEXT' | translate }}</span>
          </div>
          <div class="rate-list-item-column">
            <span>{{ 'RATES.PERIOD_TEXT' | translate }}</span>
          </div>
          <div class="rate-list-item-column">
            <span>{{ 'RATES.PRICE_TEXT' | translate }}</span>
          </div>
        </div>
        <div *ngFor="let rate of rates" class="rate-list-item" style="margin-bottom: 16px;">
          <div class="rate-list-item-column">
            <span>#{{rate.id}}</span>
          </div>
          <div class="rate-list-item-column">
            <span>{{rate.region}}</span>
          </div>
          <div class="rate-list-item-column">
            <span>{{rate.rateCategory}}</span>
          </div>
          <div class="rate-list-item-column">
            <span>{{rate.startDate }} - <br/> {{rate.endDate }}</span>
          </div>
          <div class="rate-list-item-column">
            <span>€{{rate.ratePrice | number : '1.2-2'}}</span>
          </div>
        </div>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
