<mat-sidenav-container class="component">
  <mat-sidenav #sidebar class="sidebar">
    <mat-nav-list class="sidebar-list">
      <mat-list-item (click)="sidebar.toggle()" [routerLink]="[{ outlets: { dashboard: ['vehicles'] } }]">
        <mat-icon mat-list-icon>directions_car</mat-icon>
        <span matLine>{{ 'DASHBOARD.SIDEBAR_ITEMS.MY_VEHICLES_TEXT' | translate }}</span>
      </mat-list-item>
      <mat-list-item (click)="sidebar.toggle()" [routerLink]="[{ outlets: { dashboard: ['invoices'] } }]">
        <mat-icon mat-list-icon>receipt</mat-icon>
        <span matLine>{{ 'DASHBOARD.SIDEBAR_ITEMS.INVOICES_TEXT' | translate }}</span>
      </mat-list-item>
      <mat-list-item (click)="sidebar.toggle()" [routerLink]="[{ outlets: { dashboard: ['rates'] } }]">
        <mat-icon mat-list-icon>euro_symbol</mat-icon>
        <span matLine>{{ 'DASHBOARD.SIDEBAR_ITEMS.RATES_TEXT' | translate }}</span>
      </mat-list-item>
      <mat-list-item (click)="sidebar.toggle()" [routerLink]="[{ outlets: { dashboard: ['profile'] } }]">
        <mat-icon mat-list-icon>person</mat-icon>
        <span matLine>{{ 'DASHBOARD.SIDEBAR_ITEMS.PROFILE_TEXT' | translate }}</span>
      </mat-list-item>
      <mat-list-item (click)="logout()">
        <mat-icon mat-list-icon>exit_to_app</mat-icon>
        <span matLine>{{ 'DASHBOARD.SIDEBAR_ITEMS.SIGN_OUT_TEXT' | translate }}</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary" class="header">
    <button mat-icon-button (click)="sidebar.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="header-title">{{ 'DASHBOARD.HEADER' | translate }}</h1>
    <div class="header-avatar-wrapper">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <img class="header-avatar" [src]="'DASHBOARD.LANGUAGES_MENU.MENU_TRIGGER_IMAGE_URL' | translate" />
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="changeLang('nl')">
          <span>{{ 'DASHBOARD.LANGUAGES_MENU.FLEMISH_TEXT' | translate }}</span>
        </button>
        <button mat-menu-item (click)="changeLang('en')">
          <span>{{ 'DASHBOARD.LANGUAGES_MENU.ENGLISH_TEXT' | translate }}</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
  <router-outlet name="dashboard"></router-outlet>
</mat-sidenav-container>

