@import '../../../styles/base';

.component {
  width: 100vw;
  height: 100vh;
}

.sidebar {
  //top: $header-height;
  padding: 16px 0;
  min-width: $sidebar-width;
}

.sidebar-list {
  padding: 0;
  height: 100%;

  display: flex;
  flex-flow: column;

  a {
    outline: none;
  }

  :last-child {
    margin-top: auto;
  }
}

.header {
  height: $header-height;
  display: flex;
}

.header-title {
  margin-left: 16px !important;
}

.header-avatar-wrapper {
  margin-left: auto;
  margin-right: 16px
}

.header-avatar {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}
