<div class="component">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        <h1>{{ 'MY_VEHICLES.VEHICLE_HISTORY_HEADER' | translate }}</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <mat-accordion class="accordion">
        <mat-expansion-panel
          *ngFor="let vehicleHistory of vehicleHistories; let i = index"
          (opened)="setOpenedVehicleHistory(i)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{vehicleHistory.vehicle.brand + ", " + vehicleHistory.vehicle.model}}
            </mat-panel-title>
            <mat-panel-description>
              <span>{{vehicleHistory.vehicle.licensePlate}}</span>
              <mat-icon
                style="margin-right: 24px"
                [ngStyle]="{color: !vehicleHistory.tillDate ? 'green' : 'red'}">
                directions_car
              </mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="accordion-content">
            <h3>Vehicle details</h3>
            <div class="accordion-content-row">
              <span><strong>{{ 'MY_VEHICLES.VEHICLES_DETAILS.OWNER_FROM_TEXT' | translate }}</strong></span>
              <span>{{vehicleHistory.fromDate}}</span>
            </div>
            <div *ngIf="vehicleHistory.tillDate" class="accordion-content-row">
              <span><strong>{{ 'MY_VEHICLES.VEHICLES_DETAILS.OWNER_TILL_TEXT' | translate }}</strong></span>
              <span>{{vehicleHistory.tillDate}}</span>
            </div>
            <div *ngIf="!vehicleHistory.tillDate" class="accordion-content-row">
              <span><strong>{{ 'MY_VEHICLES.VEHICLES_DETAILS.OWNER_TILL_TEXT' | translate }}</strong></span>
              <form>
                <mat-form-field>
                  <input
                    matInput
                    placeholder="{{ 'MY_VEHICLES.VEHICLES_DETAILS.TILL_DATE.PLACEHOLDER' | translate }}"
                    name={{vehicleHistory.id}}
                    (dateChange)="onTillDateChange($event)"
                    [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </form>
            </div>
            <app-vehicle-form
              [isDisabled]="!!vehicleHistory.tillDate"
              [vehicleHistory]="vehicleHistory"
              [submitError]="submitUpdateError"
              (parentSubmitCallback)="submitUpdate($event)">
            </app-vehicle-form>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>

  <mat-card class="content">
    <mat-card-header>
      <mat-card-title>
        <h1>{{ 'MY_VEHICLES.NEW_VEHICLE_HEADER' | translate }}</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <app-vehicle-form
        [resetAfterSubmit]="true"
        [submitError]="submitNewError"
        (parentSubmitCallback)="submitNew($event)">
      </app-vehicle-form>
    </mat-card-content>
  </mat-card>
</div>
