<div class="component">
  <mat-card>
    <mat-toolbar color="primary">
      <h1>{{ 'SIGN_UP.HEADER' | translate }}</h1>
    </mat-toolbar>
    <mat-card-content class="card-content">
      <app-profile-form
        [showLoginButton]="true"
        [submitButtonText]="submitButtonText"
        [submitError]="submitError"
        (parentSubmitCallback)="submit($event)">
      </app-profile-form>
    </mat-card-content>
  </mat-card>
</div>
