<form class="form" (submit)="submit()" autocomplete="off">
  <mat-form-field class="field">
    <input
      matInput
      type="text"
      placeholder="{{ 'PROFILE.USERNAME.PLACEHOLDER' | translate }}"
      [formControl]="usernameFormControl">
    <mat-error
      *ngIf="usernameFormControl.hasError('required')"
      [innerHtml]="'PROFILE.USERNAME.REQUIRED' | translate">
    </mat-error>
  </mat-form-field>
  <mat-form-field class="field">
    <input
      matInput
      type="text"
      placeholder="{{ 'PROFILE.PASSWORD.PLACEHOLDER' | translate }}"
      [formControl]="passwordFormControl">
    <mat-error
      *ngIf="passwordFormControl.hasError('minlength')"
      [innerHtml]="'PROFILE.PASSWORD.MIN_LENGTH' | translate">
    </mat-error>
    <mat-error
      *ngIf="passwordFormControl.hasError('required')"
      [innerHtml]="'PROFILE.PASSWORD.REQUIRED' | translate">
    </mat-error>
  </mat-form-field>
  <mat-form-field class="field">
    <input
      matInput
      type="text"
      placeholder="{{ 'PROFILE.FIRST_NAME.PLACEHOLDER' | translate }}"
      [formControl]="firstNameFormControl">
    <mat-error
      *ngIf="firstNameFormControl.hasError('required')"
      [innerHtml]="'PROFILE.FIRST_NAME.REQUIRED' | translate">
    </mat-error>
  </mat-form-field>
  <mat-form-field class="field">
    <input
      matInput
      type="text"
      placeholder="{{ 'PROFILE.LAST_NAME.PLACEHOLDER' | translate }}"
      [formControl]="lastNameFormControl">
    <mat-error
      *ngIf="lastNameFormControl.hasError('required')"
      [innerHtml]="'PROFILE.LAST_NAME.REQUIRED' | translate">
    </mat-error>
  </mat-form-field>
  <mat-form-field class="field">
    <input
      matInput
      type="text"
      placeholder="{{ 'PROFILE.CITIZEN_SERVICE_NUMBER.PLACEHOLDER' | translate }}"
      [formControl]="citizenServiceNumberFormControl">
    <mat-error
      *ngIf="citizenServiceNumberFormControl.hasError('required')"
      [innerHtml]="'PROFILE.CITIZEN_SERVICE_NUMBER.REQUIRED' | translate">
    </mat-error>
  </mat-form-field>
  <mat-form-field class="field">
    <input
      matInput
      type="text"
      placeholder="{{ 'PROFILE.COUNTRY.PLACEHOLDER' | translate }}"
      [formControl]="countryFormControl">
    <mat-error
      *ngIf="countryFormControl.hasError('required')"
      [innerHtml]="'PROFILE.COUNTRY.REQUIRED' | translate">
    </mat-error>
  </mat-form-field>
  <mat-form-field class="field">
    <input
      matInput
      type="text"
      placeholder="{{ 'PROFILE.CITY.PLACEHOLDER' | translate }}"
      [formControl]="cityFormControl">
    <mat-error
      *ngIf="cityFormControl.hasError('required')"
      [innerHtml]="'PROFILE.CITY.REQUIRED' | translate">
    </mat-error>
  </mat-form-field>
  <mat-form-field class="field">
    <input
      matInput
      type="text"
      placeholder="{{ 'PROFILE.ZIP_CODE.PLACEHOLDER' | translate }}"
      [formControl]="zipCodeFormControl">
    <mat-error
      *ngIf="zipCodeFormControl.hasError('required')"
      [innerHtml]="'PROFILE.ZIP_CODE.REQUIRED' | translate">
    </mat-error>
  </mat-form-field>
  <mat-form-field class="field">
    <input
      matInput
      type="text"
      placeholder="{{ 'PROFILE.STREET.PLACEHOLDER' | translate }}"
      [formControl]="streetFormControl">
    <mat-error
      *ngIf="streetFormControl.hasError('required')"
      [innerHtml]="'PROFILE.STREET.REQUIRED' | translate">
    </mat-error>
  </mat-form-field>
  <mat-form-field class="field">
    <input
      matInput
      type="text"
      placeholder="{{ 'PROFILE.HOUSE_NUMBER.PLACEHOLDER' | translate }}"
      [formControl]="houseNumberFormControl">
    <mat-error
      *ngIf="houseNumberFormControl.hasError('required')"
      [innerHtml]="'PROFILE.HOUSE_NUMBER.REQUIRED' | translate">
    </mat-error>
  </mat-form-field>
  <mat-error *ngIf="submitError" class="submit-error">
    {{submitError}}
  </mat-error>
  <div class="button-wrapper">
    <button *ngIf="showLoginButton" mat-button type="button" color="primary" routerLink="/login">
      {{ 'PROFILE.LOGIN_BUTTON_TEXT' | translate }}
    </button>
    <button mat-raised-button type="submit" color="primary" class="submit-button">
      {{submitButtonText}}
    </button>
  </div>
</form>
