<form #formDirective="ngForm" (submit)="submit(formDirective)" autocomplete="off" >
  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="{{ 'VEHICLE_FORM.BRAND.PLACEHOLDER' | translate }}"
      [formControl]="brandFormControl">
    <mat-error
      *ngIf="brandFormControl.hasError('required')"
      [innerHtml]="'VEHICLE_FORM.BRAND.REQUIRED' | translate">
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="{{ 'VEHICLE_FORM.MODEL.PLACEHOLDER' | translate }}"
      [formControl]="modelFormControl">
    <mat-error
      *ngIf="modelFormControl.hasError('required')"
      [innerHtml]="'VEHICLE_FORM.MODEL.REQUIRED' | translate">
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="{{ 'VEHICLE_FORM.LICENSE_PLATE.PLACEHOLDER' | translate }}"
      [formControl]="licensePlateFormControl">
    <mat-error
      *ngIf="licensePlateFormControl.hasError('required')"
      [innerHtml]="'VEHICLE_FORM.LICENSE_PLATE.REQUIRED' | translate">
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="number"
      placeholder="{{ 'VEHICLE_FORM.BUILD_YEAR.PLACEHOLDER' | translate }}"
      [formControl]="buildYearFormControl">
    <mat-error
      *ngIf="buildYearFormControl.hasError('required')"
      [innerHtml]="'VEHICLE_FORM.BUILD_YEAR.REQUIRED' | translate">
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="{{ 'VEHICLE_FORM.COLOR.PLACEHOLDER' | translate }}"
      [formControl]="colorFormControl">
    <mat-error
      *ngIf="colorFormControl.hasError('required')"
      [innerHtml]="'VEHICLE_FORM.COLOR.REQUIRED' | translate">
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="{{ 'VEHICLE_FORM.CAR_TRACKER.PLACEHOLDER' | translate }}"
      [formControl]="carTrackerFormControl">
    <mat-error
      *ngIf="carTrackerFormControl.hasError('required')"
      [innerHtml]="'VEHICLE_FORM.CAR_TRACKER.REQUIRED' | translate">
    </mat-error>
  </mat-form-field>
  <mat-form-field class="field">
    <mat-select
      placeholder="{{ 'VEHICLE_FORM.RATE_CATEGORY.PLACEHOLDER' | translate }}"
      [formControl]="rateCategoryFormControl">
      <mat-option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </mat-option>
    </mat-select>
    <mat-error
      *ngIf="rateCategoryFormControl.hasError('required')"
      [innerHtml]="'VEHICLE_FORM.RATE_CATEGORY.REQUIRED' | translate">
    </mat-error>
  </mat-form-field>
  <div class="button-wrapper">
    <button
      *ngIf="!isDisabled"
      mat-raised-button
      type="submit"
      color="primary"
      class="submit-button">
      {{ 'VEHICLE_FORM.SUBMIT_BUTTON_TEXT' | translate }}
    </button>
  </div>
</form>
