@import '../../../styles/base';

.component {
  margin: 16px auto;
  max-width: $view-max-width;
}

.card {
  margin-bottom: 24px;
}

.card-content {
  padding: 16px;
}

.accordion .mat-expansion-panel-header-title {
  width: 45%;
  //width: calc((100% /3) * 1);
}

.accordion .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  margin-right: 0;
  width: 55%;
  //width: calc((100% /3) * 2);
}

.accordion-content {
  //margin-bottom: 16px;
}

.accordion-content-row {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
}

.buttonToolBar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;

  margin-top: 16px;
}
