<div class="component">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        <h1>{{ 'INVOICES.HEADER' | translate }}</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <mat-accordion class="accordion">
        <mat-expansion-panel
          *ngFor="let invoice of invoices; let i = index"
          (opened)="setOpenedInvoice(i)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ 'INVOICES.INVOICE_TITLE' | translate }} #{{invoice.id}}
            </mat-panel-title>
            <mat-panel-description>
              {{invoice.invoiceDate}}
              <mat-icon *ngIf="invoice.paymentStatus === 'OPEN'" style="margin-right: 24px; color: red">receipt</mat-icon>
              <mat-icon *ngIf="invoice.paymentStatus === 'PAID'" style="margin-right: 24px; color: green">receipt</mat-icon>
              <mat-icon *ngIf="invoice.paymentStatus === 'CANCELLED'" style="margin-right: 24px; color: orange">receipt</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="accordion-content">
            <h3>{{ 'INVOICES.INVOICE_DETAILS.HEADER' | translate }}</h3>
            <div class="accordion-content-row">
              <span><strong>{{ 'INVOICES.INVOICE_DETAILS.NUMBER_TEXT' | translate }}</strong></span>
              <span>{{invoice.id}}</span>
            </div>
            <div class="accordion-content-row">
              <span><strong>{{ 'INVOICES.INVOICE_DETAILS.DATE_TEXT' | translate }}</strong></span>
              <span>{{invoice.invoiceDate}}</span>
            </div>
            <div class="accordion-content-row">
              <span><strong>{{ 'INVOICES.INVOICE_DETAILS.PAYMENT_STATUS_TEXT' | translate }}</strong></span>
              <span>{{invoice.paymentStatus}}</span>
            </div>
            <div class="accordion-content-row">
              <span><strong>{{ 'INVOICES.INVOICE_DETAILS.CAR_TRACKER_TEXT' | translate }}</strong></span>
              <span>{{invoice.carTracker}}</span>
            </div>
            <div class="accordion-content-row">
              <span><strong>{{ 'INVOICES.INVOICE_DETAILS.ROUTES_TEXT' | translate }}</strong></span>
            </div>
            <app-invoice-table [invoice]="invoice"></app-invoice-table>
            <div class="accordion-content-row">
              <span><strong>{{ 'INVOICES.INVOICE_DETAILS.TOTAL_PRICE_TEXT' | translate }}</strong></span>
              <span style="padding-right: 24px;">
                €{{invoice.totalAmount | number: '1.2-2'}}
              </span>
            </div>

            <div class="buttonToolBar">
              <button mat-button type="button" color="primary">
                {{ 'INVOICES.INVOICE_DETAILS.BUTTON_TEXT' | translate }}
              </button>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
