<div class="component">
  <div class="content">
    <mat-card>
      <mat-toolbar color="primary">
        <h1>{{ 'LOGIN.HEADER' | translate }}</h1>
      </mat-toolbar>
      <mat-card-content>
        <form (submit)="submit()" autocomplete="off">
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="{{ 'LOGIN.USERNAME.PLACEHOLDER' | translate }}"
              [formControl]="usernameFormControl">
            <mat-error
              *ngIf="usernameFormControl.hasError('required')"
              [innerHtml]="'LOGIN.USERNAME.REQUIRED' | translate">
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              type="password"
              placeholder="{{ 'LOGIN.PASSWORD.PLACEHOLDER' | translate }}"
              [formControl]="passwordFormControl">
            <mat-error
              *ngIf="passwordFormControl.hasError('required')"
              [innerHtml]="'LOGIN.PASSWORD.REQUIRED' | translate">
            </mat-error>
          </mat-form-field>
          <mat-error *ngIf="submitError" style="margin-top: 8px;">
            {{submitError}}
          </mat-error>
          <div class="button-wrapper">
            <button mat-button type="button" color="primary" routerLink="/sign-up">
              {{ 'LOGIN.SIGN_UP_BUTTON_TEXT' | translate }}
            </button>
            <button mat-raised-button type="submit" color="primary">
              {{ 'LOGIN.SUBMIT_BUTTON_TEXT' | translate }}
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
