.component {
  max-width: 500px;
  margin: 16px auto;
}

form {
  width: 100%;

  .mat-form-field {
    width: 100%;
  }
}

.mat-card-content {
  padding: 16px;
}

.button-wrapper {
  margin-top: 16px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
