<div class="component">
  <mat-card class="content">
    <mat-card-header>
      <mat-card-title>
        <h1>Profile</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <app-profile-form
        [account]="auth"
        [showLoginButton]="false"
        [submitButtonText]="submitButtonText"
        [submitError]="submitError"
        (parentSubmitCallback)="submit($event)">
      </app-profile-form>
    </mat-card-content>
  </mat-card>
</div>
